/* 
    CSS Guide 

    1.  General Styles
    2.  Flavours Section Styles

*/


 /* 1. ---General Styles--- */

 body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

img, embed, object, video, picture {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2, section h3, section p {
    padding-left: 15px;
}

.section-spacer {
    margin: 60px 0 60px 0;
}

.txt-spacer {
    margin-top: 20px;
    line-height: 2em;
}

.center {
    text-align: center;
}

/* ---End of General Styles--- */


/* 2. ---Flavours Section Styles--- */

object {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.flavour-section article {
    padding-top: 30px;
}

.flavour-section p {
    font-style: italic;
}